<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fomin.tvradio">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_radio"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback"
        android:usesCleartextTraffic="true"
        android:banner="@string/app_name"
        android:name="com.fomin.tvradio.application.RadioApp">

        <activity
            android:name="com.fomin.tvradio.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Leanback.RadioTitle">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fomin.tvradio.RadioActivity"
            android:label="@string/app_name" />

    </application>

</manifest>
